<!doctype html>
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  {{ summary }}
</div>
<html lang="en">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Your details</h3>
        <!--{{ diagnostic }}-->
        <form #creditCardForm="ngForm">
          <div class="form-group">
            <label for="initialAmount">Initial amount</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <input type="number" min="0" step="100" class="form-control" id="initialAmounts" required
              [(ngModel)]="homeLoanDetails.initialAmount" name="initialAmount">
              <div class="input-group-addon">$</div>
            </div>
          </div>

          <div class="form-group">
            <label for="period">Period</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <input type="number" min="1" step="1" class="form-control" id="period" required
              [(ngModel)]="homeLoanDetails.period" name="period">
              <div class="input-group-addon">years</div>
            </div>
          </div>

          <div class="form-group">
            <label for="interestRate">Interest rate</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <input type="number" min="0" step="0.1" class="form-control" id="interestRate" required
              [(ngModel)]="homeLoanDetails.interestRate" name="interestRate">
              <div class="input-group-addon">%</div>
            </div>
          </div>

          <div class="form-group">
            <label for="interestOnlyPeriod">Interest only period</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <input type="number" min="0" step="1" class="form-control" id="interestOnlyPeriod" required
              [(ngModel)]="homeLoanDetails.interestOnlyPeriod" name="interestOnlyPeriod">
              <div class="input-group-addon">years</div>
            </div>
          </div>

          <div class="form-group">
            <label for="offsetAmount">Offset amount</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <input type="number" min="0" step="100" class="form-control" id="offsetAmount" required
              [(ngModel)]="homeLoanDetails.offsetAmount" name="offsetAmount">
              <div class="input-group-addon">$</div>
            </div>
          </div>

          <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>

        </form>

        <!--<div>
          <label>Base number: </label>
          <input type="number" [(ngModel)]="base_num" placeholder="0">
        </div>
        <div>{{base_num}}</div>
        <button (click)="randomize()">CLICK</button>-->

      </div>
      <div class="col-md-9">
        <div style="display: block;">
        <canvas baseChart width="100" height="50"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
        <table class="table table-responsive table-condensed">
          <tbody>
            <tr>
              <th scope="row">Total interest paid</th>
              <td>${{ totalInterestPaid }}</td>
            </tr>
            <tr *ngIf="monthlyPaymentIO">
              <th scope="row">Monthly interest-only payments</th>
              <td>${{ monthlyPaymentIO }}</td>
            </tr>
            <tr>
              <th scope="row">Monthly principal and interest payments</th>
              <td>${{ monthlyPaymentPI }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='container'>
    <disqus [identifier]="pageId"></disqus>
  </div>
</html>
